fastapi==0.115.12
uvicorn[standard]==0.34.2
httpx==0.28.1
redis==5.2.1
pydantic-settings==2.8.1
SQLAlchemy==2.0.41
asyncpg==0.30.0
alembic==1.15.2
aiogram==3.20.0
aiohttp-socks==0.10.1
phonenumbers==9.0.36
python-multipart==0.0.20
boto3==1.35.99
Pillow==11.1.0
